@import 'src/styles/abstract/variables.scss';

.Login__container {
  $input-height: 40px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  gap: 20px;

  .line {
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    height: 0.7rem;

    .line-text {
      background-color: white;
      padding: 5px;
    }
  }
  .container-icons {
    display: flex;
    justify-content: space-around;
    padding: 20px 40px;

    .container-icon {
      padding: 15px;
      border: 1px solid #e8e8e8;

      .icon {
        width: 30px;
      }
    }
  }
}
