@import '../../styles/abstract/variables.scss';
@import '../../styles/abstract/mixins.scss';


.main-rooms{

    background-color: $color-main-background;

    .main-rooms__options{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 14px;
        list-style-type: none;
        font-weight: 700;
        margin-bottom: 15px;
        background-color: white;
        border-bottom: none;
    
        li{
            border: none;
            border-bottom: 2px solid transparent;
            padding: 8px;
            cursor: pointer;
            transition: all 0.2s ease;
        }

        .selected-item{
            color: $color-accent;
            border-bottom: 2px solid $color-accent;
        }

        .no-selected{
            border-bottom: 2px solid transparent;
        }
    }
}
