@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');

$font-nunito: 'Nunito', sans-serif;
// Primary
$color-accent: #F13F4B;
$color-main-background: #F9F9F9;
// Neutral
$color-white: #FFFFFF;
$color-cod-gray: #1B1B1B;
$color-text-silver-chalice: #A1A1A1;
$color-text-black: #000000;


$font-size: 15px;