@import 'src/styles/abstract/variables.scss';

.AuthWrapper__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  font-size: $font-size-14;
  max-width: 400px;
  height: 100%;
  margin: 40px auto;

  .header-login {
    text-align: center;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;

    .subtitle {
      margin-top: 30px;
      text-align: left;
      font-weight: normal;
    }

    .paragraph {
      text-align: left;
      font-weight: bold;
    }
  }

  .terms {
    text-align: center;
    font-size: $font-size-12;
    padding-top: 20px;
    border-top: 1px solid #e8e8e8;
  }
}
