.PaymentInfo__container {
  $input-height: 40px;
  $font-size-14: 0.875rem;

  background-color: white;
  padding: 16px;
  font-size: $font-size-14;
  box-shadow: 1px 11px 20px 0px rgba(35, 35, 35, 0.12);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;

  .container-icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 20px 40px;

    .container-icon {
      padding: 10px;
      border: 1px solid #e8e8e8;

      .icon {
        width: 70px;
      }
    }
  }
}
