@import '../../styles/abstract/variables.scss';

.container-fail-payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: 20px 0px;
    padding: 20px 15px;
    background-color: #f9f9f9;
}

.container-fail-payment__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;

    h2{
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
    }
    p{
        color: $color-text-silver-chalice;
        font-size: 15px;
        text-align: center;
        text-transform: capitalize;
    }
    button{
        background-color: #ef3f3e;
        font-weight: 700;
        color: white;
        padding: 9px 20px;
        box-shadow: 1px 11px 20px 0px rgba(239, 63, 62, 0.12);
        box-shadow: 1px 11px 20px 0px rgba(239, 63, 62, 0.12);
        margin-top: 18px; 
    }
}