@import '../../styles/abstract/variables.scss';

.container-blog{
    width: 350px;
    margin: 0px 10px;
    box-shadow: 0px 2px 6px $color-text-silver-chalice;
    border-radius: 5px;

    @media (width: 425px) {
        margin: 0px 30px;
        
    }

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        height:max-content;
        width: initial;
        
    }

    @media (min-width: 1440px) {
        margin: 0px 40px;
    }
}

.container-blog__image-section{
    position: relative;
    
    .container-blog__date{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15px;
        left: 15px;
        width: 35px;
        background-color: $color-accent;
        color: $color-white;
        font-size: 14px;
        font-weight: 700;
        box-shadow: 0px 2px 6px $color-accent;
    }
}

.container-blog__image{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 350px;
        border-radius: 5px 5px 0px 0px
    }

    @media (min-width: 768px) {
        img{
            width: 250px;
            border-radius: 5px 0px 0px 5px
        }
    }

    @media (min-width: 1024px) {
        img{
            width: 180px;       
        }
    }

    @media (min-width: 1440px) {
        img{
            width: 270px;       
        }
    }
}

.container-blog__text-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin: 10px 15px;
    padding-bottom: 10px;
    height: 200px;
    line-height: 1.3rem;
    p:nth-child(1){
        font-size: 14px;
        color: $color-accent;
    }

    p:nth-child(3){
        // font-size: 14px;
        color: $color-text-silver-chalice;
    }

    button{
        color: $color-white;
        font-weight: 700;
        background-color: $color-accent;
        padding: 8px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px $color-accent;
    }

    @media (min-width: 768px) {
        justify-content: space-around;
        width: 470px;
        padding: 0rem 2rem;        
    }

    @media (min-width: 1024px) {
        width: 320px; 
        margin: 0px 15px;
        padding: 0.7rem 1rem;      
    }
}