@import '../../styles/abstract/variables.scss';

.event-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);

  p {
    text-align: center;
  }

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  button {
    display: block;
    margin: 0 auto;
  }

  .center {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.event-modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  max-width: 500px;
  min-width: 300px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.event-modal.show .modal-content {
  transform: translateY(0);
}

.exit-btn {
  position: absolute;
  right: -18px;
  top: -22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;

  svg {
    fill: white;
    font-size: 1.8rem;
  }
}
