@import '../../styles/abstract/variables.scss';

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__corrousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23.2rem; /* Ancho del carrusel */
    overflow: hidden;
    margin: 2rem 0rem;

    @media (min-width: 768px) {
        width: 100%;
    }

    // @media (min-width: 1280px) {
    //     width: 100%;
    // }
}

.main__wrap-corrousel{
    display: flex;
    animation: slideAnimation 12s infinite;
    div:nth-child(1){
        margin-left: 15px;
    }

    @media (width: 768px) {
        animation: slideAnimationTabletSmall 12s infinite;
        
    }

    @media (width: 1024px) {
        animation: slideAnimationTablet 12s infinite;
    }

    @media (min-width: 1280px) {
        animation: none;
        div:nth-child(1){
            margin-left: initial;
        }
    }
}

@keyframes slideAnimation {
    0%{
      transform: translateX(850px);
    }
    5%{
        transform: translateX(845px);
    }
    20%{
        transform: translateX(435px);
    }
    25%{
        transform: translateX(430px);
    }
    40%{
      transform: translateX(20px);
    }
    45%{
      transform: translateX(15px);
    }
    60%{
        transform: translateX(-400px)
    }
    65%{
        transform: translateX(-405px)
    }
    80%{
        transform: translateX(-820px);
    }
    85%{
        transform: translateX(-825px);
    }
    100%{
        transform: translateX(850px);
    }
}

@keyframes slideAnimationTabletSmall {
    0%{
      transform: translateX(650px);
    }
    5%{
      transform: translateX(645px);
    }
    25%{
      transform: translateX(235px);
    }
    30%{
        transform: translateX(230px)
    }
    50%{
        transform: translateX(-190px)
    }
    55%{
        transform: translateX(-195px);
    }
    75%{
        transform: translateX(-620px);
    }
    80%{
        transform: translateX(-625px);
    }
    100%{
        transform: translateX(650px);
    }
}

@keyframes slideAnimationTablet {
    0%{
      transform: translateX(705px);
    }
    5%{
      transform: translateX(700px);
    }
    25%{
      transform: translateX(235px);
    }
    30%{
        transform: translateX(230px)
    }
    50%{
        transform: translateX(-210px)
    }
    55%{
        transform: translateX(-215px);
    }
    75%{
        transform: translateX(-650px);
    }
    80%{
        transform: translateX(-655px);
    }
    100%{
        transform: translateX(705px);
    }
}

.main__destination{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem;

    .main__card-destination{
        display: flex;
        overflow: auto;
        width: 360px;
        cursor: pointer;
        &::-webkit-scrollbar {
            width: 0rem;
            height: 0rem;
        }


        @media (width: 1024px) {
            width: 900px;
            justify-content: space-around;
        }

        @media (min-width: 1280px) {
            width: 1200px;
            justify-content: space-around;
        }

    }

}

.main__information{
    background-image: url('../../../public/imageMain_booking_background.jpg');
    width: fit-content;
}