@import 'src/styles/abstract/variables.scss';

.Password__container {
  $input-height: 40px;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  gap: 20px;

  .line {
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    height: 0.7rem;

    .line-text {
      background-color: white;
      padding: 5px;
    }
  }
}
